body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#a2d2ff;
}

.container {
    background-color: #023047;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
}

input {
    width: 91%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: right;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn {
    width: calc(25% - 5px);
    padding: 20px 0;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e0e0e0;
    color: #444;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #ccc;
}

.op {
    background-color: #f2a900;
    color: #fff;
}

.num {
    background-color: #f5f5f5;
}

#equal {
    background-color: #4caf50;
    color: #fff;
}
